


body {
    background-color: #33373b; /* #131415 */
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: rgb(238, 238, 238);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    min-width: 370px;
    z-index: 1;
}

nav {
    background-color: black;
    height: 63px;
    display: flex;
    justify-content: center;

}

table {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    border-spacing: 0px;
}

table td {
    /*border: 2px solid gray;*/
    border-bottom: 5px solid rgb(0, 0, 0); 
    height: 54px;
    width: 120px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


#gridWrapper {
    max-width: 900px;
    min-width: 450px;
    height: 1000px;
    margin: 75px auto 0px auto;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(6, 1fr);
    border-radius: 1px solid black;
}

#firstGridItem {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
    border: 2px solid black;
    padding: 10px;
}

#secondGridItem {
    grid-row: 1 / 5;
    grid-column: 5 / 7;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#secondGridItem img {
    max-width: 85%;
    min-width: 35%;
    transform: rotate(90deg);
    z-index: 0;
}

#selfImageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thirdGridItem {
    grid-row: 5 / 8;
    grid-column: 1 / 7;
    border: 2px solid black;
    padding: 10px;
}

#fourthGridItem {
    grid-row: 8 / 11;
    grid-column: 1 / 7;
    border: 2px solid black;
    padding: 10px;
}

a.navlinks {
position: relative;
color: #bbbbbb;
text-decoration: none;
padding: 5px;
}

a.navlinks::before {
content: "";
position: absolute;
display: block;
width: 100%;
height: 3px;
bottom: 0;
left: 0;
background-color: #6B6E70;
transform: scaleX(0);
transition: transform 0.3s ease;
}

a.navlinks:hover {
color: #efefef;
}

a.navlinks:hover::before {
transform: scaleX(1);
}

@media screen and (max-width: 600px) {
    #gridWrapper {
        min-width: 370px;
        height: 1300px;
    }
    #firstGridItem {
        grid-row: 1 / 4;
        grid-column: 1 / 7;
    }
    #secondGridItem {
        grid-row: 4 / 7;
        grid-column: 1 / 7;
    }
    #thirdGridItem {
        grid-row: 7 / 10;
        grid-column: 1 / 7;;
    }
    
    #fourthGridItem {
        grid-row: 10 / 11;
        grid-column: 1 / 7;
    }
    #secondGridItem img {
        max-width: 62%;
        min-width: 35%;
    }
}